
<!-- Кнопочки -->
<button nz-button nzType="primary" routerLink="/instance">Add Instance</button>
<button nz-button nzType="default" routerLink="/">Back</button>

<!-- Табличка поступлений ng-zorro -->
<div>
    <nz-table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Date Created</th>
          </tr>
        </thead>
    
        <tbody>
          <tr *ngFor="let receipt of receipts">
            <td>{{receipt.name}}</td>
            <td>{{receipt.createdDate}}</td>
          </tr>
        </tbody>
    </nz-table>
</div>
