<p>Add Instance Page</p>
<button nz-button nzType="primary" (click)="addInstance()">Add Instance</button>
<button nz-button nzType="default" routerLink="/receipts">Back</button>


<!-- Форма заполнения экземпляров книг -->
<form class="instance-form" [formGroup]="useForm">
    <div class="form-group">
        <label for="receiptName">Receipt Name:</label>
        <input nz-input nzSize="default" placeholder="enter Receipt Name" type="text" id="receiptName" formControlName="receiptName" />
    </div>

    <div class="form-group">
        <label for="info">All info about book:</label>
        <input nz-input nzSize="default" placeholder="enter info about book" type="text" id="info" formControlName="info" />
    </div>
</form>

<!-- Тестик реактивной формы -->
<div>{{useForm.value | json}}</div>